body {
    background: rgb(78, 78, 238);
    font: normal 15pt Arial;
}

header {
    color: rgb(14, 13, 13);
    text-align: center;
}

section {
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 3px 3px 10px rgb(0, 0, 0, 0.36 );
}